<main class="sefin-container">


    <div class="sefin-row">
        <h3 class="sefin-titulo-1">Página no encontrada</h3>
        <div class="sefin-col-sm-12 sefin-col-lg-12">
            <p class="sefin-titulo-4 sefin-text-justify">
                Comando en archivo HTML sefin-team-ng VSCode
            </p>
            <pre class="language-markup">sefin-page-404</pre>
        </div>
    </div>

    <div class="sefin-row">
        <div class="card">
            <div class="card-content">
                <div class="sefin-row">
                    <div class="sefin-col-sm-12 sefin-center">
                        <br><br><br><br>
                        
                        <i aria-hidden="true" class="sefin-icono sefin-center text-amarillo sefin-font100">
                            error
                        </i>
                        <h3 class="text-cyan sefin-titulo-icono">
                            Página no  encontrada
                            <br>
                            <span class="text-gris">404</span>
                            
                        </h3>
                        <br><br><br><br>
                    </div>

                  

                    
                </div>
            </div>
        </div>
    </div>
</main>


<main class="sefin-container">


    <div class="sefin-row">
        <h3 class="sefin-titulo-1">Página en mantenimiento</h3>
        <div class="sefin-col-sm-12 sefin-col-lg-12">
            <p class="sefin-titulo-4 sefin-text-justify">
                Comando en archivo HTML sefin-team-ng VSCode
            </p>
            <pre class="language-markup">sefin-page-500</pre>
        </div>
    </div>

    <div class="sefin-row">
        <div class="card">
            <div class="card-content">
                <div class="sefin-row">
                    <div class="sefin-col-sm-12 sefin-center">
                        <br><br><br><br>
                        
                        <i aria-hidden="true" class="sefin-icono sefin-center text-amarillo sefin-font100">
                            warning
                        </i>
                        <h3 class="text-cyan sefin-titulo-icono">
                            Estamos en mantenimiento
                            <br>
                            <span class="text-gris">500</span>
                            
                        </h3>
                        <br><br><br><br> 
                    </div>

                  

                    
                </div>
            </div>
        </div>
    </div>
</main>

