<main class="container" *ngIf="screen=='ready'">

    <div class="sefin-col-sm-12">
        <h3 class="text-cyan titulos-siret center">
            <i aria-hidden="true" class="sefin-icono center text-amarillo font40">table_view</i>
            PERFILES <br>
           
        </h3>     

    </div>

    <div class="col s12">
        
            <a  title="Regresar"  [routerLink]="['/home']" class="waves-effect waves-light btn grey mr10">
                <i aria-hidden="true" class="material-icons left">arrow_back_ios</i> 
                Regresar</a>
            <button title="Nuevo registro"  (click)="goForms()" class="waves-effect waves-light btn cyan">
                <i aria-hidden="true" class="material-icons left">add</i>  
                Nuevo registro
            </button>

            <div class="input-field col right">
                <input id="input_text" type="text" [(ngModel)]="buscar_input">
                <label for="input_text">Buscar</label>
            </div>
        
    </div>

    <div class="col s12">
        <table class="striped responsive-table" aria-label="tabla">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Rol</th>
                    <th>Descripción Rol</th>
                    <th>Estado Rol</th>
                    <th>OPCIÓN</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let info of jsonRoles | filter: buscar_input | paginate: { itemsPerPage: 5, currentPage: pagina}">
                    <td>{{info.roleId}}</td>
                    <td>{{info.nombreRol}}</td>
                    <td>{{info.descripcionRol}}</td>
                    <td>{{info.estadoRol ==0 ?'Inactivo' : info.estadoRol ==1 ?'Activo':'Eliminado'}}</td>
                    <td>
                        <button title="Editar"  type="button" class="waves-effect waves-light btn cyan cyan-" (click)="clickEditar(info)">
                            <i aria-hidden="true" class="material-icons center">edit</i>
                        </button>
                        &nbsp;
                        <button title="Eliminar"  type="button" class="waves-effect waves-light btn red " (click)="clickEliminar(info)">
                            <i aria-hidden="true" class="material-icons center">delete</i>
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>

        <div class="center-align">
            <p *ngIf="(jsonRoles |filter:buscar_input).length==0">
                No hay registros
            </p>
            <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
            (pageChange)="pagina = $event"></pagination-controls>
        </div>
    </div>

</main>

<main class="container" *ngIf="screen=='add'">
  <app-form-roles (emit)="emit($event)" [objetoRol]="objetoRol"></app-form-roles>
</main>