<footer class="page-footer sefin-footer-color" >
  <div class="sefin-container">
    <div class="sefin-row">
      <div class="sefin-col-lg-12 sefin-col-sm-12 sefin-center">
          <img class="{{footerModel.imagen.class}}" src="{{footerModel.imagen.src}}" [style.height.px]="footerModel.imagen.height" alt="footer-image">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="sefin-container {{footerModel.imagen.class}}">
      {{footerModel.nombre}}
    </div>
  </div>
</footer>